version: '3.9'

services:
  mysql:
    image: mysql:8.0
    profiles:
      - rds
      - all
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: simulated_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
      - ./scripts/seed-data.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
        test: ['CMD', 'mysqladmin' ,'ping', '-h', 'localhost']
        timeout: 20s
        retries: 10

  minio:
    image: minio/minio
    profiles:
      - s3
      - all
    command: server /data --console-address ':9001'
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      interval: 30s
      timeout: 20s
      retries: 3

  create-buckets:
    image: minio/mc
    profiles:
      - s3
      - all
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c '
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/simulated-bucket;
      /usr/bin/mc anonymous set public myminio/simulated-bucket;
      echo Init Complete;
      exit 0;
      '

volumes:
  mysql_data:
  minio_data:
